In [1]:
if True:
    print("This is indented")

This is indented

In [ ]:
if condition:
    # This block is executed if the condition is true
    statement1
    statement2
else:
    # This block is executed if the condition is false
    statement3

In [ ]:
if condition1:
    if condition2:
        # Nested block
        statement1
    else:
        statement2
else:
    statement3

In [3]:
if True:
    print("This is indented")
  print("This will cause an IndentationError")

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [4]:
if True:
    print("This is indented")
    print("This will cause an IndentationError")

This is indented
This will cause an IndentationError

In [ ]:
# Statement
x = 5

# Expression
y = x + 10

In [ ]:
my_variable = 10

my_string = "Hello, Python!"

In [5]:
valid_variable = 10

_validVariable = 20

In [6]:
1_invalidVariable = 30  # This will cause a syntax error

SyntaxError: invalid decimal literal (4288800263.py, line 1)

In [7]:
valid_variable_2 = 40

In [8]:
invalid-variable = 50  # This will cause a syntax error

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (953232805.py, line 1)

In [9]:
myVariable = 60

myvariable = 70

In [ ]:
my_variable = 10

In [10]:
x = 10  # Assigns the value 10 to the variable x

In [11]:
x

10

In [12]:
x = 10

y = 20

print(x == y)  # Outputs: False, because 10 is not equal to 20

print(x == 10) # Outputs: True, because 10 is equal to 10

False
True

In [13]:
my_int = 5

In [14]:
type(my_int)

int

In [16]:
my_float = 5.5

In [17]:
type(my_float)

float

In [18]:
my_string = "Hello"

In [19]:
type(my_string)

str

In [22]:
my_string1 = 'Hello'

In [23]:
my_bool = True

In [24]:
type(my_bool)

bool

In [25]:
print(type(my_int))    # Outputs: <class 'int'>

print(type(my_float))  # Outputs: <class 'float'>

print(type(my_string)) # Outputs: <class 'str'>

print(type(my_bool))   # Outputs: <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Compose Data Types

In [ ]:
# List => Ordered, mutable collections of items.

my_list = [1, 2, 3, "Python", 4.5]

In [27]:
my_list[0]

1

In [28]:
my_list[3]

'Python'

In [29]:
my_list[-3]

3

In [30]:
my_list[-2]

'Python'

In [31]:
my_list[0] = "changed"

In [32]:
my_list

['changed', 2, 3, 'Python', 4.5]

In [33]:
# Tuple => Ordered, immutable collections of items.

my_tuple = (1, 2, 3, "Python", 4.5)

In [34]:
print(my_tuple[0])  # Outputs: 1

1

In [35]:
my_tuple[1] = "changed"

TypeError: 'tuple' object does not support item assignment

In [37]:
# Dictionary => Unordered collections of key-value pairs

my_dict = {"name": "John", "age": 30, "city": "New York"}

In [38]:
my_dict["city"]

'New York'

In [39]:
my_dict["name"] = "Ganesh"

In [40]:
my_dict

{'name': 'Ganesh', 'age': 30, 'city': 'New York'}

In [41]:
# Sets => Unordered collections of unique items

my_set = {1, 2, 3, 4, 5}

In [42]:
my_set

{1, 2, 3, 4, 5}

In [43]:
my_set1 = {1, 2, 3, 4, 5, 5, 5, 2, 3, 3, 3, 10}

In [44]:
my_set1

{1, 2, 3, 4, 5, 10}

In [45]:
my_set1.add("add")

In [46]:
my_set1

{1, 10, 2, 3, 4, 5, 'add'}

In [47]:
my_set1[2] = 18

TypeError: 'set' object does not support item assignment